nnUNet_raw=/path/to/nnunet/raw
nnUNet_preprocessed=/path/to/nnunet/preprocessed
nnUNet_results=/path/to/nnunet/results
nnUNet_wandb_enabled=1
nnUNet_wandb_project=spinal-fairness
nnUNet_wandb_mode=online
WANDB_API_KEY=xxx
