[project]
name = "spinal-fairness"
version = "0.1.0"
description = "Fairness in Cervical Spine MRI Segmentation"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "pydantic>=2.12.5",
    "pydantic-settings>=2.12.0",
    "python-dotenv>=1.2.1",
]
